body {
  background-image: url("../img/bg01.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}

p {
  color: white;
}

img {
  width: 200px;
  display: block;
}

#error-empty,
#error-password-match,
#error-password-format {
  display: none;
}
